*{
    margin: 0 auto;
    padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    max-width:1200px 
}

/* Navigation Bar  */
.navbar{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    align-items: center;
}
.links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
}
.links ul a{
    text-decoration: none;
}
.btn-sub{ background-image: linear-gradient(to right top,#F7E93F, #FB09B4, #9100F8); padding: 12px 16px; border-radius: 1000px; color: white; font-weight: 600;
border:none; }