*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    color: white;
    background-color: #1A0B2E;
}

/* Navigation Bar  */
.navbar{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    align-items: center;
    max-width:1200px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}
.links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
}
.links ul a{
    text-decoration: none;
    color: white;
}
.btn-sub{ background-image: linear-gradient(to right top,#F7E93F, #FB09B4, #9100F8); padding: 12px 16px; border-radius: 1000px; color: white; font-weight: 600;
border:none; }
.btn-sub1{ background-image: linear-gradient(to right top,#F7E93F, #FB09B4, #9100F8); padding: 12px 16px; border-radius: 1000px; color: white; font-weight: 600;
border:none; }
.hamburger{
    display:none;
}

/* Banner Design  */
.banner-container{
    border: 2px solid red;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.middle{
   border: 2px solid yellow; 
   position: relative;
   display: flex;
   justify-content: center;
}
.middle .bg-circle{
    width: 100%;  
    border: 2px solid pink;
}

.tooltip{
    position: absolute;
    top: 25%;
    left: 35%;
}



.bottom-info{
    border: 2px solid aliceblue;
    text-align: center;
}
.bottom-info h1{
    font-weight: 800;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 8px;
}
.bottom-info p{
    font-weight: 400;
    margin-bottom: 24px;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
}

@media screen and (max-width:576px) {
    .links, .btn-sub1{
        display: none;
    }
    .hamburger{
    display:inline-flex;   
}

.middle {
    margin-top: 20px;
}
.middle .bg-circle {
    width: 65%;  
   
}
.tooltip{
    position: absolute;
    top: 25%;
    left: 38%;
    
}
.tooltip img{
    width: 75%;
}
.bottom-info h1{
    font-size: 40px;
}
}


