*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    color: white;
    background-color: #1A0B2E;
}
/* Button  */
.btn-sub{ background-image: linear-gradient(to right top,#F7E93F, #FB09B4, #9100F8); padding: 12px 16px; border-radius: 1000px; color: white; font-weight: 600;
border:none; }
.btn-sub1{ background-image: linear-gradient(to right top,#F7E93F, #FB09B4, #9100F8); padding: 12px 16px; border-radius: 1000px; color: white; font-weight: 600;
border:none; }

.btn-sub2{  
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 12px 16px;
    border-radius: 1000px;

 }












/* Navigation Bar  */
.navbar{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    max-width:1200px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
}
.hamburger{
    display:none;
}
.links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
}
.links ul a{
    text-decoration: none;
    color: white;
}


/* Banner Design  */
.banner-container{
   
    max-width: 1600px;
    margin: 0 auto;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.middle{
   
   position: relative;
   display: flex;
   justify-content: center;
}
.middle .bg-circle{
    width: 100%;  
   
}

.tooltip{
    position: absolute;
    top: 25%;
    left: 38%;
}
.middle p{
    margin-left: -90px;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 1000px;
    height: 35px;
    color: black;
    font-weight: 600;
}



.bottom-info{
  
    text-align: center;
}
.bottom-info h1{
    font-weight: 800;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 8px;
}
.bottom-info p{
    font-weight: 400;
    margin-bottom: 24px;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 80px;
}


/* About Section  */
.about-section{
    align-content: center;
}
.about-info{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.about-info h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-info p{
    font-weight: 400;
    margin-bottom: 160px;
}

.about-data-container{
display: flex;
gap: 80px;
}
.about-data1{
    display:flex;
    justify-content: space-between;
    gap: 80px;
}
.about-data2{
    display:flex;
    justify-content: space-between;
    gap: 80px;
}
.about-data-container {
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 120px;

}
.about-data-container h2{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.about-data-container p{
    font-size: 400;
}





/* Choose Section */


.choose{
    background-color: rgba(35, 14, 61, 1);
}
.choose h2{
    font-size: 48px;
    font-weight: 700;
    padding-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}
.grid-container{
    max-width: 1200px;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(3,380px);
    grid-template-rows: repeat(3,270px);
    gap: 30px;
}
.grid-container h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;

}
.box-1{
    grid-row: 1/span 2;
    padding: 40px;
    align-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
.box-2{
    grid-column: 2/span 2;
    align-content: center;
     padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}
.box-3{
    grid-column: 2/span 2;
    align-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
     padding: 40px;
}
.box-4{
    grid-column: 1/span 2;
    align-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
     padding: 40px;
}
.box-5{
    align-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
     padding: 40px;
}

@media screen and (max-width:576px) {
    .links, .btn-sub1{
        display: none;
    }
    .hamburger{
    display:inline-flex;  
    margin-right: 20px; 
}

.middle {
    margin-top: 40px;
    margin-right: 10px;
}
.middle .bg-circle {
    width: 80%;  
   
}
.tooltip{
    position: absolute;
    top: 25%;
    left: 43%;
    width: 30%;
    
}
.tooltip img{
    width: 75%;
}

.bottom-info h1{
    font-size: 40px;
}
.banner-container{
    margin: 0;
}
.about-section{
    padding: 0 20px;
}
.about-data-container{
    flex-direction: column;
}


.grid-container{
    
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 16px;
}
.box-1{
    grid-row: auto;
}
.box-2{
    grid-column: auto;
}
.box-3{
    grid-column: auto;
}
.box-4{
    grid-column: auto;
}
}


